@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

header .nav-icons{
    display: flex;
    justify-content: space-between;
    
}
nav{
    background-color: #000;
}

.nav-icons ul{
    display: flex;
}
.nav-icons ul li{
    list-style: none;
    padding: 9px 15px ;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.nav-icons ul li:hover{
    background: #ccc;
    color: #000;
}

.header-text{
    text-align: center;
}
.header-text h1{
    font-size: 50px;
    font-weight: 500;
    padding: 20px;
    padding-top: 50px;
}

.header-text p b{
    color: #fff;
    background-color: #000;
    padding: 2px 6px;
    font-weight: 400;
}


.header-img{
    text-align: left;
    position: relative;
    color: #ffffff;
    letter-spacing: 4px;
    margin-bottom: -5px;

}

.header-img img{
    width: 100%;
    margin-top: 60px;
}

.header-img-text{
    position: absolute;
    top: 43%;
    left: 25px;
    transform: translate(-50% 0);
}

.header-img h1{
    /* position: absolute;
    left: 25px;
    top: 140px; */
    z-index: 2;
    font-size: 64px;
}
.header-img h2{
    /* position: absolute;
    left: 25px;
    top: 50%; */
    font-size: 36px;
    font-weight: 400;
} 
.header-img button{
    /* position: absolute;
    left: 25px;
    top: 240px; */
    padding: 12px 24px;
    background-color: rgb(148, 144, 144);
    color: #000;
    letter-spacing: 0;
    font-size: 18px;
    font-weight: 400;
    border: none;
    cursor: pointer;
}
.header-img button:hover{
    background-color: #c1c1c1;
}


/* ---- Main Contente ---- */

main{
    background-color: #f1f1f1;
    display: flex;
    width: 100%;
    padding: 8px 16px;
    border: 1px solid #f1f1f1 !important;
}

.leftside-blogs{
    /* flex-basis: 66%; */
    width: 67%;
}
.rightside-blogs{
    /* flex-basis: 33%; */
    width: 33%;
}

.leftside-blogs .first-blog{
    margin: 16px;
    padding: 12px 24px;
    background-color: #fff;
}

.first-blog h3, .first-blog h4{
    text-align: center;
    /* padding: 10px; */
}
.first-blog h3{
    font-size: 24px;
    font-weight: 400;
    margin: 10px 0;
}
.first-blog h4{
    font-size: 18px;
    font-weight: 400;
    margin: 10px 0 25px;
}
.first-blog h4 span{
    opacity: .5;
}
.first-blog img{
    width: 100%;
    margin-bottom: 10px;
}
.first-blog p{
    margin-top: 10px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
}
.first-blog .blog-btns{
    /* display: flex; */
    /* justify-content: space-between; */
    /* display: block; */
    margin: 20px 0;
    padding-bottom: 40px;
}
.first-blog .blog-btns button{
    border: none;
    padding: 8px 16px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}
.first-blog .blog-btns .btn-1{
    background-color: white;
    border: 1px solid #ccc;
    cursor: pointer;
} 
.first-blog .blog-btns .btn-1:hover{
    background-color: #ccc;
}
.first-blog .blog-btns .btn-2{
    background-color: #000;
    color: #fff;
    cursor: pointer;
    float: right;
}
.first-blog .blog-btns .btn-2:hover{
    color: #000;
    background-color: #ccc;
}
.first-blog .blog-btns .btn-2 span{
    color: #000;
    background-color: #fff;
    padding: 2px 10px;
    margin-left: 10px;
}

.liked{
    display: none;
    border: 1px solid #ccc !important;
    background-color: transparent;
    cursor: pointer;
}
.liked:hover{
    background-color: #ccc;
}


.reply {
    display: none;
    margin: 50px auto 10px;
    border-top: 1px solid #ccc;
}

.reply-1 , .reply-2{
    display: flex;
    padding-top: 20px;
}
.reply img{
    width: 90px !important;
    height: 108px;
    margin-right: 20px;
    opacity: .7;
}
.reply h2{
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
}
.reply h2 span{
    opacity: .5;
}


/*  ---- Rightside Content ---- */

.rightside-blogs .post-1 img{
    width: 100%;
}

.rightside-blogs .post-1{
    margin: 15px;
}

.post-1 .text{
    color: #fff;
    background-color: #000;
    font-family: 'Open Sans', sans-serif;
    padding: 0 16px 16px;
}
.post-1 h3{
    font-weight: 400;
    margin: -5px 0;
    padding: 10px 0;
    color: #fff;
    background-color: #000;
}
.post-1 p{
    font-family: "Open Sans";
    font-size: 15px;
    line-height: 1.5;
    padding-top: 10px;
}

.rightside-blogs hr{
    margin: 20px 0;
    border: 0;
}

.post-2{
    margin: 0 15px;
}
.post-2 img{
    width: 25%;
    margin-right: 15px;
}
.post-2 h3{
    font-weight: 400;
    padding: 20px;
    background-color: #000;
    color: #fff;
}

.post-2 .pro{
    display: flex;
    padding: 15px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.post-2 .pro span{
    font-size: 18px;
    font-family: "Open Sans";
}
.post-2 .pro p{
    font-size: 15px;
    line-height: 1.5;
    font-family: "Open Sans";
}
.post-2 .pro:hover{
    background-color: #ccc;
}


.post-3{
    margin: 40px 15px;
}
.post-3 p{
    font-family: "Open Sans";;
    font-size: 15px;
    padding: 70px 30%;
    background-color: none;
    border: 15px solid #fff;
}


.post-4{
    width: 92%;
    background-color: #fff;
    margin-top: 40px;
}
.post-4 ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.post-4 ul li{
    color: #000;
    background-color: #f1f1f1;
    margin-right: 5px;
    margin: 0px 5px 15px 0;
    padding: 0 10px;
}
.post-4 ul .tag-1{
    color: #fff;
    background-color: #000;
}


.post-5{
    margin-top: 40px;
}
.post-5 .img-grid{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    padding-bottom: 0px;
    background-color: #fff;
}
.post-5 .img-grid img{
    width: 44%;
    padding-bottom: 15px;
}


.post-6{
    margin-top: 40px;
    letter-spacing: 1px;
}
.post-6 ul li{
    display: inline;
    list-style: none;
    font-size: 28px;
}
.post-6 ul{
    background-color: #fff;
    padding: 10px 15px;
}
.post-6 ul li:hover{
    cursor: pointer;
    color: #ccc;
}


.post-7{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-bottom: 30px;
}
.post-7 p, .post-7 input, .post-7 button{
    font-family: "Open Sans" !important;
    padding: 10px;
}
.post-7 p{
    padding: 15px;
}
.post-7 input, .post-7 button{
    font-size: 15px;
    margin: 15px;
}
.post-7 input{
    border: 1px solid #ccc;
}
.post-7 button{
    background-color: tomato;
    color: #fff;
    border: none;
    cursor: pointer;
}
.post-7 button:hover{
    background-color: #ccc;
    color: #000;
}

/* ----------- Footer ------------ */

footer{
    color: #fff;
    background-color: #616161;
    padding: 45px 32px;
}

footer button a{
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    background: #000;
    font-size: 18px;
}
footer button{
    border: none;
    margin-bottom: 15px;
}
footer button i{
    padding-right: 10px;
}
footer button a:hover{
    color: #000 !important;
    background-color: #ccc;
}

footer p{
    font-family: "Open Sans";
    margin-top: 20px;
    font-size: 15px;
}
footer p a{
    color: #fff;
    font-family: "Open Sans";
}


.subscribed{
    width: 65%;
    position: fixed;
    top: 50px;
    left: 15%;
    color: #000000;
    letter-spacing: 0; 
    padding: 30px 35px;
    display: none;
    z-index: 2;
    border-radius: 20px; /* Extra Adding Style  */
    
}
.subscribed h2{
    padding-left: 15px;
    font-size: 30px;
    font-weight: 400;
    position: relative;
}
.subscribed #x-mark{
    font-size: 24px;
    position: absolute;
    top: 35px;
    right: 42px;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}
.subscribed #x-mark:hover{
    background-color: tomato;
    color: #fcff49;
}



@media all and (max-width:600px){
    header .nav-icons{
        display: none;
    }

    main{
        flex-direction: column;
        
    }

    .leftside-blogs, .rightside-blogs{
        width: 100%;
    }

}
